<div class="modal-dialog" style="width:900px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Please Choose Geolocation</h4>
        </div>
        <div class="modal-body">
            <div style="width:860px;height: 400px">
                <div id="map-canvas" style="width: 860px; height:100%"></div>
            </div>
            <div class="row">
                <br/>
                <div class="col-xs-5 pull-right">
                    <form id="modal_form_search">
                        <div class="input-group">
                            <input type="text" class="form-control" id="modal_searchbox"
                                   placeholder="Enter address ...">
                          <span class="input-group-btn">

                        <button type="submit" class="btn btn-default" id="modal_button_address"><span
                                    class="glyphicon glyphicon-search"></span>

                        </button>
                              </span>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal_button_select">Select</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <script>
        setTimeout(function () {
            var lat = '{{ lat }}';
            var long = '{{ long }}';

            var map;

            if (lat != '' && long != '') {
                var mapOptions = {
                    zoom: 10,
                    center: new window.google.maps.LatLng(lat, long)
                };
            }
            else {
                var mapOptions = {
                    zoom: 2,
                    center: new window.google.maps.LatLng(0, 0)
                };
            }

            geocoder = new window.google.maps.Geocoder();

            map = new window.google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            marker = new window.google.maps.Marker(
                    {
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        position: map.getCenter()
                    });

            $('#modal_button_select').click(function () {

                lat = marker.getPosition().lat();
                long = marker.getPosition().lng();

                // set value on tempId input field
                $('#{{ tempId }}_lat').val(lat);
                $('#{{ tempId }}_long').val(long);

                // check for tempId input field within iframes
                var d = cmck_document();
                $(d).find('iframe');
                $(d).find('iframe').contents().find('#{{ tempId }}_lat').val(lat);
                $(d).find('iframe').contents().find('#{{ tempId }}_long').val(long);

                $('#modal_edit').modal('hide');
            });

            $('#modal_button_address').click(function () {
                address = $('#modal_searchbox').val();


                geocoder.geocode({'address': address}, function (results, status) {
                    if (status == window.google.maps.GeocoderStatus.OK) {
                        marker.setPosition(results[0].geometry.location);
                        map.setCenter(results[0].geometry.location);
                        map.setZoom(14);
                    }
                    else {
                        map.setZoom(2);
                        map.setCenter(new google.maps.LatLng(0, 0));
                    }

                });

                return false;
            });
        }, 500);

    </script>
</div>

