{% extends "layout-default.twig" %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ links.home }}">Home</a></li>
            <li><a href="{{ links.admin }}">Admin</a></li>

        </ol>
    </div>

    <div class="row">
        {% if data_type =='content' %}
            <h3>
                <small><span class="glyphicon glyphicon-file"></span>
                </small> {{ definition.getName }}{% if definition.getTitle %}
                    <small>({{ definition.getTitle }})</small>{% endif %}</h3>
        {% else %}
            <h3>
                <small><span class="glyphicon glyphicon-wrench"></span>
                </small> {{ definition.getName }}{% if definition.getTitle %}
                    <small>({{ definition.getTitle }})</small>{% endif %}</h3>
        {% endif %}

    </div>
    <div class="row">

        <form class="well" role="form" method="post" name="form_admin" action="" id="form_admin">

            <fieldset>
                <div class="row">
                    <div class="col-xs-7">

                        <textarea id="cmdl" name="cmdl" placeholder="" class="form-control formelement-tooltip"
                                  rows="35" data-toggle="tooltip" data-trigger="hover" data-placement="right"
                                  data-content="" data-original-title="" title="">{{ cmdl }}</textarea>


                    </div>

                    <div class="col-xs-5">
                        {% block cmdl_quick_start %}
                            {% include "admin-cmdl-quick-start.twig" %}
                        {% endblock %}
                    </div>
                </div>
            </fieldset>

            <hr/>

            <div class="controls">
                    <span class="btn-group">
                        <a href="#" class="btn btn-primary" id="form_admin_button_submit">Save</a>
                    </span>

                {% if data_type =='content' %}
                    <span class="btn-group">
                        <a href="{{ links.delete }}" class="btn btn-danger admin_button_delete_content_type">Delete</a>
                    </span>
                {% else %}
                    <span class="btn-group">
                        <a href="{{ links.delete }}" class="btn btn-danger admin_button_delete_config_type">Delete</a>
                    </span>
                {% endif %}
            </div>
        </form>
    </div>


{% endblock %}