{% extends "formelement-default.twig" %}

{% block input %}
    <div class="{{ class.size }}">
        <input type="text" class="form-control formelement-tooltip" id="{{ id }}" name="{{ name }}"
               placeholder="{{ definition.placeholder }}" value="{{ value }}" data-toggle="tooltip" data-trigger="hover"
               data-placement="right" data-content="{{ definition.hint }}"{% if definition.isProtected %} disabled="disabled"{% endif %}>
    </div>
{% endblock %}