<ul class="dropdown-menu" role="menu" {% if id %}id="{{ id }}">{% endif %}
    {% for item in items %}
        {% if item.type == 'header' %}
            <li role="presentation" class="dropdown-header"><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endif %}
        {% if item.type == 'link' %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ item.url }}">{% if item.glyphicon %}<span class="glyphicon {{ item.glyphicon }}"></span> {% endif %}{{ item.text }}</a></li>
        {% endif %}
        {% if item.type == 'divider' %}
            <li role="presentation" class="divider"></li>
        {% endif %}
    {% endfor %}
</ul>