<div class="form-group">
    <label for="{{ id }}">{{ definition.label }}{% if definition.isMandatory == true %}*{% endif %}</label>
    <input type="text" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ definition.placeholder }}" value="{{ value }}">
</div>
<!--
<div class="control-group <?php if ($validationerror):?>error<?php endif?>">
    <label class="control-label"
           for="<?php echo $formid?>">{{ definition.label }}{% if definition.isMandatory == true %}*{% endif %}</label>

    <div class="controls">
        <input type="text"  id="<?php echo $formid?>" name="<?php echo $attribute_name?>"
               value="{{ value }}"
        <data-content
        ="<?php echo $definition->help?>">

    </div>
</div>
-->