{% extends "layout-default.twig" %}

{% block title %}Start{% endblock %}

{% block content_before %}
    {% include "start.twig" %}
{% endblock %}

{% block content %}

    {% for repository in repositories %}
        <div class="row">
            <h3>
                <a href="{{ repository.link }}">{{ repository.title }}</a>
                <a href="{{ repository.url }}" target="_blank">
                    <small>{{ repository.url }}</small>
                </a>
            </h3>
            <br/>
            {% if repository.content_types %}
                <div class="col-xs-5">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Content Type Name</th>
                            <th class="col-xs-1"></th>
                        <tr/>
                        </thead>
                        <tbody>
                        {% for contenttype in repository.content_types %}
                            <tr>
                                <td>
                                    <a href="{{ contenttype.link }}"
                                       title="{{ contenttype.name }}">{% if contenttype.title %}{{ contenttype.title }}{% else %}{{ contenttype.name }}{% endif %}</a>
                                </td>
                                <td><a href="{{ contenttype.link }}" class="btn btn-default"
                                       role="button"><span class="glyphicon glyphicon-list"></span> List Records</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>       {% endif %}
            {% if repository.config_types %}
                <div class="col-xs-4">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Config Type Name</th>
                            <th class="col-xs-1"></th>
                        <tr/>
                        </thead>
                        <tbody>
                        {% for configtype in repository.config_types %}
                            <tr>
                                <td><a href="{{ configtype.link }}"
                                       title="{{ configtype.name }}">{% if configtype.title %}{{ configtype.title }}{% else %}{{ configtype.name }}{% endif %}</a>
                                </td>
                                <td><a href="{{ configtype.link }}" class="btn btn-primary"
                                       role="button"><span class="glyphicon glyphicon-wrench"></span> Edit</a></td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
            {% endif %}
            {% if repository.files %}
                <div class="col-xs-2">

                    <a href="{{ repository.files }}" class="btn btn-default"
                       role="button"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;List Files</a>

                </div>
            {% endif %}
        </div>
        <br/>
        <br/>
    {% endfor %}


{% endblock %}