<div class="file-item pull-left">
    <div class="panel panel-default">
        <ul class="media-list">
            <li class="media">
                {% if file.file.isImage %}
                    <div class="file-item-preview pull-left">
                        <a class="files-file-zoom"
                           data-title="{{ file.file.getName }}" href="{{ file.links.src }}" style="width:60px">
                            <img class="media-object" src="{{ file.links.src }}" width="60" alt="...">
                        </a>
                    </div>
                {% endif %}

                <div class="media-body">

                    <h4 class="media-heading" title="{{ file.file.getName }}"><a class="files-file-zoom"
                        data-title="{{ file.file.getName }}" href="{{ file.links.src }}">{{ file.file.getName }}</a></h4>
                    {{ (file.file.getSize/1024) |number_format(1) }}
                    Kb {% if file.file.getWidth %}({{ file.file.getWidth }} x {{ file.file.getHeight }}){% endif %}
                    <br/>
                    {% if file.file.getTimestampLastChange %}
                        <small>{{ file.file.getTimestampLastChange|date('d.m.Y H:i') }}</small>
                        <br/>
                    {% endif %}
                    <div class="file-actions">
                        <div class="pull-left">
                            <a href="{{ file.links.delete }}" alt="Delete" class="files-delete-file"
                               data-title="{{ file.file.getName }}"><span class="glyphicon glyphicon-trash"></span></a>
                            &nbsp; <a href="test" alt="Edit" class="files-file-edit" data-title="{{ file.file.getID }}"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ file.links.view }}" target="_blank"><span
                                        class="glyphicon glyphicon-share-alt"></span></a> &nbsp;
                            <a href="{{ file.links.download }}" alt="Download"><span
                                        class="glyphicon glyphicon-cloud-download"></span></a>
                            &nbsp; <a href="{{ file.links.src }}" alt="Zoom" class="files-file-zoom"
                                      data-title="{{ file.file.getName }}"><span
                                        class="glyphicon glyphicon-zoom-in"></span></a>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>