<div class="file-item-modal pull-left">
    <div class="panel panel-default file-select-item" data-src="{{ file.file.getId }}">
        <ul class="media-list">
            <li class="media">
                {% if file.file.isImage %}
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{{ file.links.view }}" width="60" alt="...">
                    </a>
                {% endif %}

                <div class="media-body">
                    <h4 class="media-heading"><a href="#">{{ file.file.getName }}</a></h4>
                    {{ (file.file.getSize/1024) |number_format(1) }}
                    Kb {% if file.file.isImage() %}({{ file.file.getWidth }} x {{ file.file.getHeight }}){% endif %}
                    <br/>
                    {% if file.file.getTimestampLastChange %}
                        <small>{{ file.file.getTimestampLastChange|date('d.m.Y H:i') }}</small>
                        <br/>
                    {% endif %}

                </div>
            </li>
        </ul>
    </div>
</div>