{% extends "layout-12.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}



{% block content %}

    <div class="row">

    <h2><a href="/anycontent_0_anycontent/content/bug">Bugs</a></h2>
    <br/>
    <table class="table table-curved">
        <thead>
        <tr>
            <th class="span1"><a href="/anycontent_0_anycontent/content/bug?id">ID</a></th>
            <th class="span2"><a href="/anycontent_0_anycontent/content/bug?subtype">Status</a></th>
            <th><a href="/anycontent_0_anycontent/content/bug?name">Name</a></th>
            <th class="span2"><a href="/anycontent_0_anycontent/content/bug?change">Last change</a></th>
            <th class="span1"><a href="/anycontent_0_anycontent/content/bug?pos">Position</a></th>
            <th class="span2"></th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td><a href="{{ record.editUrl }}">{{ record.id }}</a></td>
                <td><span class="label" style="background-color:#FF0000">important</span></td>
                <td><a href="{{ record.editUrl }}">{{ record.name }}</a>
                </td>

                <td>
                    Anonymous<br/>
                    <small>18.06.2012 08:33</small>
                </td>
                <td></td>
                <td>
                    <a href="{{ record.editUrl }}" class="btn btn-primary">Edit</a>
                    <a href="/anycontent_0_anycontent/content/bug/delete/50"
                       class="btn btn-danger button_delete">Delete</a>

                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    <hr/>
    <div class="row">
        <div class="span8">
            <div class="pagination">
                <ul>
                    <li class="active"><a href="/anycontent_0_anycontent/content/bug/page/1">1</a></li>
                    <li><a href="/anycontent_0_anycontent/content/bug/page/2">2</a></li>
                    <li><a href="/anycontent_0_anycontent/content/bug/page/3">3</a></li>
                    <li><a href="/anycontent_0_anycontent/content/bug/page/4">4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    {{ buttons | raw }}

{% endblock %}