{% extends "formelement-default.twig" %}

{% block input %}

    {% if type=='short' %}
        <div class="col-xs-2">
    {% else %}
        <div class="col-xs-3">
    {% endif %}


    <table style="width:100%">
        <tr>
            <td><span class="glyphicon glyphicon-time"></span></td>
            <td>
                <select class="form-control input-sm col-xs-2" name="{{ name }}[]">
                    <option>Hour</option>
                    {% for i in 0..23 %}

                        {% if i == hour %}

                            <option selected="selected">{{ "%02d"|format(i) }}</option>
                        {% else %}
                            <option>{{ "%02d"|format(i) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>:</td>
            <td>
                <select class="form-control input-sm col-xs-2" name="{{ name }}[]">
                    <option value="">Minute</option>
                    {% for i in 0..59 %}
                        {% if i == minute %}
                            <option selected="selected">{{ "%02d"|format(i) }}</option>
                        {% else %}
                            <option>{{ "%02d"|format(i) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            {% if type=='long' %}
                <td>:</td>
                <td>
                    <select class="form-control input-sm col-xs-2" name="{{ name }}[]">
                        <option>Second</option>
                        {% for i in 0..59 %}
                            {% if i == second %}
                                <option selected="selected">{{ "%02d"|format(i) }}</option>
                            {% else %}
                                <option>{{ "%02d"|format(i) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            {% endif %}
        </tr>
    </table>
    </div>


{% endblock %}