{% if table %}
    <table class="table table-striped table-listing">
        <thead>
        <tr>
            {% for column in table.header %}
                <th class="{{ column.class }}">
                    {% if column.isSortable %}<a
                        href="{{ links.self }}?s={{ column.sortString }}">{{ column.title }}</a>
                    {% else %}
                        {{ column.title }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.body %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell | raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
