{% extends "layout-default.twig" %}

{% block title %}{% if definition.Title %}{{ definition.Title }}{% else %}{{ definition.Name }}{% endif %}{% endblock %}


{% block content %}

    {% block listing_header %}

        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{{ links.repository }}">{% if repository.title %}{{ repository.title }}{% else %}{{ repository.name }}{% endif %}</a></li>
            </ol>
            <a href="{{ links.reset }}" title="{{ definition.name }}">
                <h2>
                    <small><span class="glyphicon glyphicon-file"></span>
                    </small>{% if definition.Title %}{{ definition.Title }}{% else %}{{ definition.Name }}{% endif %}
                </h2>
            </a>
            <br/>
        </div>
        {% if contentViews|length>1 %}

            <div class="row">

                <ul class="nav nav-tabs">

                    {% for nr,contentView in contentViews %}
                        <li role="presentation" {% if nr == currentContentViewNr %}class="active"{% endif %}><a
                                    href="{{ contentView.url }}">{{ contentView.title }}</a></li>
                    {% endfor %}
                </ul>
                <br/>

            </div>
        {% endif %}
    {% endblock %}

    {% block listing_search %}
        {% if contentView.doesProcessSearch() %}
        <div class="row">
            {% include "listing-searchbox.twig" %}
        </div>
        {% endif %}
    {% endblock %}

    {% block listing_filter %}

    {% endblock %}

    {% block listing_content %}

    {% endblock %}


    {% block listing_buttons %}
        <div class="row">
            <hr/>
            {{ buttons | raw }}
        </div>
    {% endblock %}

{% endblock %}