{% if badge %}<span class="{{ badgeclass }}">{% endif %}{% if link %}<a href="{{ link }}">{% endif %}{{ value }}{% if link %}</a>{% endif %}{% if badge %}</span>{% endif %}
{% if editButton %}<a href="{{ editLink }}" class="btn btn-primary">Edit</a>&nbsp;{% endif %}
{% if deleteButton %}<a href="{{ deleteLink }}" class="btn btn-danger button_delete">Delete</a>{% endif %}
