{% extends "layout-default.twig" %}

{% block title %}{% if definition.Title %}{{ definition.Title }}{% else %}{{ definition.Name }}{% endif %}{% endblock %}


{% block content %}

    <div class="row">

        <h2>
            <a href="{{ links.reset }}">{% if definition.Title %}{{ definition.Title }}{% else %}{{ definition.Name }}{% endif %}</a>
        </h2>
        <br/>


        {% include "listing-searchbox.twig" %}

        {% if records %}
            <table class="table table-curved">
                <thead>
                <tr>
                    <th class="col-xs-1"><a href="{{ links.sortById }}">ID</a></th>
                    {% if definition.hasSubtypes() %}
                        <th class="col-xs-1"><a href="{{ links.sortBySubtype }}">Subtype</a></th>
                    {% endif %}
                    <th><a href="{{ links.sortByName }}">Name</a></th>
                    <th class="scol-xs-2"><a href="{{ links.sortByLastChange }}">Last change</a></th>
                    {% if definition.hasStatusList() %}
                        <th class="col-xs-1"><a href="{{ links.sortByStatus }}">Status</a></th>
                    {% endif %}
                    <th class="col-xs-1"><a href="{{ links.sortByPosition }}">Position</a></th>
                    <th class="col-xs-2"></th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td><a href="{{ record.editUrl }}">{{ record.id }}</a></td>
                        {% if definition.hasSubtypes() %}
                            <td><span class="badge subtype">{{ record.subtype.label }}</span></td>
                        {% endif %}
                        <td><a href="{{ record.editUrl }}">{{ record.name }}</a>
                        </td>

                        <td>
                            {% include "listing-userinfo.twig" %}
                        </td>
                        {% if definition.hasStatusList() %}
                            <td><span class="badge status">{{ record.status.label }}</span></td>
                        {% endif %}
                        <td></td>
                        <td>
                            <a href="{{ record.editUrl }}" class="btn btn-primary">Edit</a>
                            <a href="{{ record.deleteUrl }}"
                               class="btn btn-danger button_delete">Delete</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ pager | raw }}
        {% endif %}
    </div>



    {% block buttons %}
        <div class="row">
            <hr/>
            {{ buttons | raw }}
        </div>
    {% endblock %}

{% endblock %}