{% extends "layout-default.twig" %}

{% block content %}
    <div class="row">
        {% if record %}

            <h3><span class="label label-info">#{{ record.id }}<small>.{{ record.revision }}</small></span> {{ record.name }}{% if definition.hasSubtypes() %} <span
                        class="badge primary subtype">{{ record.subtypeLabel }}</span>{% endif %}{% if definition.hasStatusList() %}
                    <span class="badge primary status">{{ record.statusLabel }}</span>{% endif %}</h3>
        {% else %}
            <h3><span class="label label-info">#new</span> New Record</h3>
        {% endif %}
    </div>

    <div class="row">
        <form class="well" role="form" method="post" name="form_edit" action="" id="form_edit" data-event-countdown="0">

            <fieldset>
                {{ form | raw }}
            </fieldset>


            <hr/>
            <div class="controls">
                <div class="btn-toolbar">

                    <span class="btn-group" id="form_edit_button_save">
                        <input type="submit" class="btn btn-primary" href="#" value="{{ save_operation_title }}"
                               id="form_edit_button_submit"/>
                        <input type="hidden" id="form_edit_button_save_operation" name="$hidden[save_operation]"
                               value="{{ save_operation }}">

                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" id="form_edit_button_save_options">
                            <li><a href="#" data-operation="save">Save</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-operation="save-insert">Save & Insert</a></li>
                            {% if record %}
                                <li><a href="#" data-operation="save-duplicate">Save & Duplicate</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="#" data-operation="save-list">Save & List</a></li>
                        </ul>
                    </span>

                    {% if record %}
                        <span class="btn-group">
                        <a href="{{ links.delete }}" class="btn btn-danger button_delete">Delete</a>
                    </span>

                        <span class="btn-group">
                        <a href="{{ links.transfer }}" class="btn btn-success" role="button" id="form_edit_button_transfer">Transfer</a>
                    </span>
                    {% endif %}

                </div>

            </div>

            <input type="hidden" name="$hidden[workspace]" value="{{ workspaces.current }}">
            <input type="hidden" name="$hidden[language]" value="{{ languages.current }}">
        </form>




    </div>

    {% block buttons %}
        <div class="row">
            <hr/>
            {{ buttons | raw }}
        </div>
    {% endblock %}

    <div class="modal fade bs-modal-lg" id="modal_edit" tabindex="-1" role="dialog"
         aria-hidden="true"></div>
    {% include "files-modal-file-zoom.twig" %}
{% endblock %}