<div class="row">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ links.repository }}">{% if repository.title %}{{ repository.title }}{% else %}{{ repository.name }}{% endif %}</a></li>
        <li><a href="{{ links.listRecords }}"
               title="{{ definition.name }}">{% if definition.title %}{{ definition.title }}{% else %}{{ definition.name }}{% endif %}</a>
        </li>
    </ol>

    {% if record %}

        <h3>
            <span class="label label-info">#{{ record.id }}  <small>.{{ record.revision }}</small></span>
            {{ record.name }}{% if definition.hasSubtypes() %}
                <span class="badge primary subtype{% if record.subtype !='' %} subtype-{{ record.subtype|lower }}{% endif %}">{{ record.subtypeLabel }}</span>{% endif %}{% if definition.hasStatusList() %}
            <span class="badge primary status{% if record.status !='' %} status-{{ record.status|lower }}{% endif %}">{{ record.statusLabel }}</span>{% endif %}</span>
        </h3>

    {% else %}
        <h3><span class="label label-info">#new</span> New Record</h3>
    {% endif %}

</div>