{% extends "layout-default.twig" %}

{% block content %}

    <div class="row">


        <h3>Record #{{ id }} not found!</h3>

        <br/>
        There's no version of this record in workspace <strong>{{ workspaces.currentName }}</strong> and language
        <strong>{{ languages.currentName }}</strong>.
        <br/>
        <br/>


        <a href="{{ links.addrecordversion }}" class="btn btn-primary">Create now</a>


    </div>

    {% block buttons %}
        <div class="row">
            <hr/>
            {{ buttons | raw }}
        </div>
    {% endblock %}

{% endblock %}