<div class="row">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ links.repository }}">{{ repository.name }}</a></li>
    </ol>

    <h2 title="{{ definition.name }}"><small><span class="glyphicon glyphicon-wrench"></span></small> {% if definition.title %}{{ definition.title }}{% else %}{{ definition.name }}{% endif %}</h2>

</div>