{% extends "layout-default.twig" %}

{% block content %}
    {% include "editconfig-breadcrumb.twig" %}

    <div class="row">
        <form class="well" role="form" method="post" name="form_edit" action="" id="form_edit" data-event-countdown="0">

            <fieldset>
                {{ form | raw }}
            </fieldset>


            <hr/>
            <div class="controls">
                <div class="btn-toolbar">

                    <span class="btn-group" id="form_edit_button_save">
                        <input type="submit" class="btn btn-primary" href="#" value="Save"
                               id="form_edit_button_submit"/>

                    </span>


                </div>

            </div>

            <input type="hidden" name="$hidden[workspace]" value="{{ workspaces.current }}">
            <input type="hidden" name="$hidden[language]" value="{{ languages.current }}">
        </form>

    </div>

    {% if record and record.lastChangeUserInfo %}
        <div class="row">
            <span class="pull-right">Last modification: {{ record.lastChangeUserInfo.timestamp | date('d.m.Y H:i')}} {% if record.lastChangeUserInfo.name %}- {{ record.lastChangeUserInfo.name }}{% endif %}
                {%if record.repository.supportsRevisions  %}
                    &nbsp;<a href="{{ links.revisions }}" class="btn btn-default btn-xs" role="button" id="listing_button_revisions"><span class="glyphicon glyphicon-grain"></span> Show Revisions</a>
                {% endif %}
            </span>

        </div>
    {% endif %}

    {% include "files-modal-file-zoom.twig" %}
{% endblock %}