<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}AnyContent{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/{{ cssurl }}">
    {{ jsheadlinks | raw }}
    {{ cssheadlinks | raw }}
</head>
<body class="layout-plain">
<div class="container"><div class="row">{% include 'messages.twig' %}</div></div>
{% block content %}{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- jQueryUI (necessary for Drag & Drop Sorting) -->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/css/jquery-ui-bootstrap/jquery-ui-1.10.3.custom.css">
<script src="/js/{{ jsurl }}"></script>
{{ jsbodylinks | raw }}
{{ cssbodylinks | raw }}
</body>
</html>

