<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AnyContent{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jquery-ui-bootstrap/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="/css/anycontent.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {{ jsheadlinks | raw }}
    {{ cssheadlinks | raw }}

</head>
<body class="layout-default {{ csscontext }} {% if app.context.canDoTimeshift %}{% if timeshift.active %}body-timeshift{% endif %}{% endif %}">

<script src="/js/anycontent.min.js" rel="stylesheet"></script>

{% block navbar %}
    {% block navbar_top %}
        {% include 'navbar_top.twig' %}
    {% endblock %}
    {% block navbar_bottom %}
        {% include 'navbar_bottom.twig' %}
    {% endblock %}
{% endblock %}


<div class="container">
    <br/>
    {% block content_before %}{% endblock %}

    {% include 'messages.twig' %}

    {% block content %}{% endblock %}
    {% block content_after %}{% endblock %}
</div>


<!-- Bootstrap JavaScript -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootbox.min.js"></script>

<!-- jQueryUI (necessary for Drag & Drop Sorting) -->
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

{{ jsbodylinks | raw }}
{{ cssbodylinks | raw }}

{% include "modals.twig" %}
</body>
</html>
