<nav class="navbar navbar-default navbar-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% block logo %}
                <a class="navbar-brand" href="/"><img src="/img/anycontent-logo.png" alt="AnyContent CMCK"
                                                      title="AnyContent CMCK"></a>
            {% endblock %}
        </div>

        {% if links is defined %}
            <div>
                <ul class="nav navbar-nav navbar-form navbar-right">

                    {% if app.context.canChangeWorkspace %}
                        <li>
                            <form class="form-inline" action="{{ links.workspaces }}" method="post">

                                <div class="form-group">
                                    <em>Workspace:</em>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" onchange="this.form.submit()" name="workspace">
                                        {% for key,value in workspaces.list %}
                                            <option value="{{ key }}"{% if key == workspaces.current %} selected="selected"{% endif %}>{{ value }}</option>
                                        {% endfor %}

                                    </select>


                                </div>
                            </form>
                        </li>
                    {% endif %}
                    {% if app.context.canChangeLanguage %}
                        <li>
                            <form class="form-inline" action="{{ links.languages }}" method='post'>

                                <div class="form-group">
                                    <em>Language:</em>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" onchange="this.form.submit()" name="language">
                                        {% for key,value in languages.list %}
                                            <option value="{{ key }}"{% if key == languages.current %} selected="selected"{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>


                                </div>
                            </form>
                        </li>
                    {% endif %}
                    {% if app.context.canDoTimeshift %}
                        {% if timeshift.active %}
                            <li class="nav-timeshift-display">

                                    <em>TimeShift: <span class="timeshift-blink">{{ timeshift.date }} {{ timeshift.time }}</span></em>&nbsp;



                            </li>
                        {% endif %}
                    {% endif %}
                    {% if app.context.canDoSearch %}
                        <li>
                            <form role="search" action="{{ links.search }}">

                                <div class="input-group" style="width:350px">
                                    <input type="text" class="form-control" name="q"
                                           placeholder="Enter search term or record id ...">
                          <span class="input-group-btn">

                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                              </span>
                                </div>
                            </form>
                        </li>
                    {% endif %}

                </ul>


            </div>
        {% endif %}
    </div>
    <!-- /.container-fluid -->
</nav>
<!--<nav class="navbar navbar-default navbar-static-top" role="navigation">



    {% if links is defined %}
        {% if app.context.canDoSearch %}
            <div class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav ">
                    <li>
                        <form class="navbar-form navbar-left" role="search" action="{{ links.search }}">

                            <div class="input-group" style="width:350px">
                                <input type="text" class="form-control" name="q"
                                       placeholder="Enter search term or record id ...">
                          <span class="input-group-btn">

                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                              </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="collapse navbar-collapse navbar-right" style="padding-top:8px;opacity: 0.7">

            <ul class="nav navbar-nav" style="padding-left:50px;">
                {% if app.context.canChangeWorkspace %}
                    <li style="padding-right: 10px">
                        <form class="form-inline" action="{{ links.workspaces }}" method="post"
                              style="padding-right:10px;padding-left:10px">

                            <div class="form-group">
                                <em>Workspace:</em>
                            </div>
                            <div class="form-group">
                                <select class="form-control" onchange="this.form.submit()" name="workspace">
                                    {% for key,value in workspaces.list %}
                                        <option value="{{ key }}"{% if key == workspaces.current %} selected="selected"{% endif %}>{{ value }}</option>
                                    {% endfor %}

                                </select>


                            </div>
                        </form>
                    </li>
                {% endif %}
                {% if app.context.canChangeLanguage %}
                    <li style="padding-right: 10px">
                        <form class="form-inline" action="{{ links.languages }}" method='post'
                              style="padding-right:10px;padding-left:10px">

                            <div class="form-group">
                                <em>Language:</em>
                            </div>
                            <div class="form-group">
                                <select class="form-control" onchange="this.form.submit()" name="language">
                                    {% for key,value in languages.list %}
                                        <option value="{{ key }}"{% if key == languages.current %} selected="selected"{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>


                            </div>
                        </form>
                    </li>
                {% endif %}
                {% if app.context.canDoTimeshift %}
                    {% if timeshift.active %}
                        <li style="padding-right: 10px">
                            <form class="form-inline" action="{{ links.languages }}" method='post'
                                  style="padding-right:0px;padding-left:0px;padding-top:7px">
                                <em>TimeShift: <span class="timeshift">{{ timeshift.date }} {{ timeshift.time }}</span></em>
                            </form>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

    {% endif %}
</nav>            -->