<div class="row">
    <div class="col-xs-11">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading formelement-section">
                    <h4 class="panel-title">

                        <a data-toggle="collapse" href="#{{ id }}{{ index }}" {% if not opened %}class="collapsed"{% endif %}><span>&nbsp;</span>
                           {{ definition.label }}
                        </a>
                    </h4>
                </div>
                <div id="{{ id }}{{ index }}" class="panel-collapse collapse{% if opened %} in{% endif %}">
                    <div class="panel-body">
