{% extends "formelement-default.twig" %}

{% block input %}
    <div class="col-xs-3">
        <input type="text" class="form-control formelement-tooltip" id="{{ id }}" name="{{ name }}[]"
               placeholder="********" value="" data-toggle="tooltip" data-trigger="hover"
               data-placement="right" data-content="{{ definition.hint }}">
        <input type="hidden" name="{{ name }}[]" value="0">
        <input type="hidden" name="{{ name }}[]" value="{{ value }}">
    </div>

    <div class="col-xs-5">
        <a class="btn btn-default formelement-password-generate-button" data-target="#{{ id }}"><span
                    class="glyphicon glyphicon-circle-arrow-left"></span> Generate Random Password</a>
        <a class="btn btn-default formelement-password-clear-button" data-target="#{{ id }}"><span
                    class="glyphicon glyphicon-remove"></span> Clear</a>
    </div>
{% endblock %}