{% extends "formelement-default.twig" %}

{% block input %}
    <div class="col-xs-1">

            <input type="text" class="form-control" name="{{ name }}" value="{{ value }}" disabled style="text-align: right;">
            <input type="hidden" name="{{ name }}" value="{{ value }}">

    </div>
    <div class="col-xs-6">
        <div style="padding-top:12px">
            <div id="{{ id }}"></div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $("#{{ id }}").slider({
                    min: {{ min }},
                    max: {{ max }},
                    value: {{ value }},
                    step: {{ step }},
                    slide: function (event, ui) {
                        $("input[name={{ name }}]").val(ui.value);
                    }
                });

            });
        </script>
    </div>
{% endblock %}